*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #000;
}

body {
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

header .logo {
  width: 200px;
  height: 70px;
}

header .logo img {
  width: 100%;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

header .navbars {
  margin-left: 40px;
}

header .navbars li {
  display: inline-block;
}

header .navbars li a {
  padding: 7px 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

header .navbars li a:hover {
  color: #ccc;
}

header .container-colors-cart {
  width: 450px;
  height: 260px;
  position: absolute;
  right: 0;
  top: 0;
}

header .container-colors-cart .container--colors {
  width: 100%;
  height: 100%;
  background: linear-gradient(288.08deg, #9A6A44 0%, #FFF4BC 28.13%, #AB6516 40.13%, #9C3E09 100%, #E7D4A6 100%);
}

header .container-colors-cart .container--image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

header .container-colors-cart .container--image img {
  width: 100%;
  height: 100%;
  opacity: .5;
}

.main {
  width: 100%;
  height: auto;
}

.main .section-primary {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 75%;
  height: calc(100% - 70px);
  background: #000;
}

.main .section-primary .container-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 450px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.main .section-primary .container-text {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 60px;
  left: -10px;
}

.main .section-primary .container--description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .section-secondary {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 25%;
  height: calc(100% - 200px);
  background: #000;
  color: #fff;
}

.container-images .image-moto img {
  width: 100%;
  height: 100%;
}

.container-images .overlay-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #000, rgba(0, 0, 0, 0));
}

.container-images .overlay-rigth {
  position: absolute;
  right: 18%;
  top: 0;
  width: 150px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #000, rgba(0, 0, 0, 0));
}

.container-images .overlay-rigth::after {
  content: "";
  position: absolute;
  right: 100px;
  top: 0;
  width: 250px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, rgba(0, 0, 0, 0)), to(#000));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 5%, #000);
}

.container-images .overlay-top {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(0, 0, 0, 0)), to(#000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 5%, #000);
}

.container-text .text-japon h1 {
  font-size: 95px;
  background: linear-gradient(288.08deg, #9A6A44 0%, #FFF4BC 28.13%, #AB6516 53.13%, #9C3E09 76.04%, #E7D4A6 100%);
  -webkit-text-stroke: 2px transparent;
  -webkit-background-clip: text;
  color: black;
  z-index: 4;
  position: relative;
}

.container--description .group-progressbars {
  position: relative;
  padding: 0 60px;
}

.container--description .group-progressbars::before {
  cursor: pointer;
  content: "<";
  position: absolute;
  left: 0;
  top: -11px;
  color: #fff;
  font-size: 15px;
  font-weight: 800;
}

.container--description .group-progressbars::after {
  cursor: pointer;
  content: ">";
  position: absolute;
  right: 0;
  top: -11px;
  color: #fff;
  font-size: 15px;
  font-weight: 800;
}

.container--description .group-progressbars .progressbars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 2px;
}

.container--description .group-progressbars .progressbars span {
  display: block;
  width: 100%;
  height: 100%;
}

.container--description .group-progressbars .progressbars span.left {
  width: 50%;
  background: #a75b12;
}

.container--description .group-progressbars .progressbars span.rigth {
  width: 50%;
  background: #fff;
}

.container--description .group-progressbars .progressbars span::before {
  cursor: pointer;
  content: "2";
  position: absolute;
  left: 20px;
  top: -11px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.container--description .group-progressbars .progressbars span::after {
  cursor: pointer;
  content: "10";
  position: absolute;
  right: 20px;
  top: -11px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.container--description .text-description {
  width: 350px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  text-align: justify;
}

.container--description .mortisseur {
  width: 200px;
}

.container--description .mortisseur img {
  width: 100%;
}

.section-secondary .content {
  height: 100px;
  background: #000;
  margin: 2px 0;
  position: relative;
}

.section-secondary .content .title-pivot {
  position: absolute;
  left: 0%;
  right: 100%;
  top: 90.56%;
  bottom: 50.47%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 15px;
  font-family: 'Segoe UI';
  color: #3f3e44;
}

.section-secondary .content .d-cart {
  position: absolute;
  left: 20%;
  top: 20%;
}

.section-secondary .content .d-cart span {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}

.section-secondary .content .d-cart span:nth-child(1) {
  color: rgba(255, 255, 255, 0.8);
}
/*# sourceMappingURL=main.css.map */